html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

.dashboard {
    height: 100vh; 

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    background-color: #1C1B19;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    padding: 24px 48px;
    background-color: #22211E;
    color: white; 
    border-bottom: 1px #777 solid; 
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid; 
    grid-template-rows: 4fr 3fr;
    grid-template-columns: 3fr 1fr;

    color: white;
    background-color: #22211E;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 48px; 

    padding: 24px; 
    color: white; 
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 24px; 
}

.sidebar-header > img {
    width: 50px;
    height: 50px; 
    filter: invert(100%); 
}

.option {
    display: flex;
    align-items: center;
    gap: 12px; 

    font-size: 16px; 
    background-color: #1C1B19;
    color: white; 
    border: none;

    margin-bottom: 16px; 
}

.option > img {
    width: 24px;
    height: 24px;
    filter: invert(100%); 
}

.option:hover {
    text-decoration: underline; 
    cursor: pointer;
}

.header-top-section {
    display: flex;
    justify-content: space-between;

    margin-bottom: 36px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.search-container > img {
    width: 24px;
    height: 24px;
    filter: invert(100%); 
}

input[type="search"] {
    height: 36px; 
    border-radius: 18px;
    padding-left: 12px; 
}

input[type="search"]:focus {
    outline: none; 
}

.profile-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.notification-icon {
    background-color: #22211E;
    border: none; 
}

.notification-icon:hover {
    cursor: pointer; 
}

.notification-icon > img{
    width: 24px;
    height: 24px;
    filter: invert(100%); 
}

.user-info {
    display: flex;
    align-items: center;
    gap: 24px;

    font-weight: bold;
}

.header-bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting-header,
.username {
    font-weight: bold;
}

.greeting-header {
    margin-bottom: 8px; 
}

.username {
    font-size: 24px; 
}

.project-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px; 
}

.project-actions > button {
    font-size: 16px;

    width: 96px; 
    border-radius: 18px;
    padding: 8px; 

    background-color: #1C1B19;
    color: white; 
    border: none; 
}

.project-actions > button:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}

.content-header {
    margin-bottom: 12px;
    font-weight: bold; 
}

.dashboard-projects {
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    padding: 24px 48px;
}

.dashboard-announcements {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    padding: 24px 12px 0px 12px;
}

.dashboard-trending {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
    padding: 12px 12px; 
}

.projects {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; 
}

.project-card {
    height: 200px;
    width: 100%; 
    padding: 24px; 

    font-size: 16px;
    font-weight: bold;

    background-color: #1C1B19;
    border-left: 6px white solid; 
    border-radius: 4px; 
}

.project-card-header {
    margin-bottom: 8px; 
}

.project-description {
    height: 72px; 
    font-size: 14px; 
    font-weight: lighter;
    margin-bottom: 24px; 
}

.project-card:hover {
    cursor: pointer;
    border-left: 6px rgb(0, 140, 255) solid; 
}

.project-marks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px; 
}

.project-mark {
    width: 24px;
    height: 24px;
    filter: invert(100%); 
}

.announcements {
    width: 85%; 

    padding: 16px;

    background-color: #1C1B19;
}

.announcement-header {
    font-weight: bold;
    margin-bottom: 16px;
}

.announcement-description {
    padding-bottom: 16px; 
    font-size: 12px;
}

.announcement {
    margin-bottom: 16px; 
    border-bottom: 2px white solid; 
}

.user-cards {
    width: 85%;
    padding: 16px;

    background-color: #1C1B19;
    font-size: 12px;
}

.user-card {
    height: 50px; 
    margin-bottom: 16px; 

    display: grid; 
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 3fr; 
}

.user-card > img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.user-tag {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    font-weight: bold;
}

.project-title {
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
}
